<!doctype html>
<html>
<head>
    <title>Input</title>
</head>

<body>
    <h2>Enter Device Data</h2>
    <form method="POST" action="/submit_data">
        <label for="device">Choose a device:</label>
        <select name="device" id="device">
            <option value="CPU">CPU</option>
            <option value="GPU">GPU</option>
            <option value="RAM">RAM</option>
        </select><br><br>
        Temperature (C):<input type="text" name="temperature"><br><br>
        Load (%):<input type="text" name="load"><br><br>
        Clock Speed (MHz):<input type="text" name="speed"><br><br>
        <input type="submit" value="Submit">
    </form><br>
    <a href="/"><button>Home</button></a>
    <a href="/aggregator"><button>Aggregator</button></a>
    <a href="/debug"><button>Debug Keys</button></a>
    <a href="/clear_data"><button>Clear data</button></a><br><br>
</body>
</html>
